* {
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  background-color: #edf3f8;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: calc(50% + 360px) top;
}
