// ============================HEADER===============================
.header {
  margin-top: 45px;
}
.header__wrapper {
  @include flexStayle(center, space-between);
}
.header__inner {
  @include flexStayle(center, space-between);
}
.header__btn {
  padding-top: 15px;
  padding-right: 26px;
  padding-bottom: 15px;
  padding-left: 26px;
  color: #fbfcfe;
  background: #ba4270;
  border-radius: 24px;
  border: none;
  cursor: pointer;
}
.header__hamburger {
  display: none;
  background-color: transparent;
  border: none;
}
.header__hamburger-img {
  display: block;
  width: 28px;
  height: 17px;
}
.header__btn:hover {
  background-color: #cc4a7c;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}
.header__btn:active {
  background-color:  #da6d97;
}
