.simple {
  margin-top: 150px;
}
.simple__inner {
  @include flexStayle(center, space-between);
}
.simple__content {
  max-width: 445px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}
.simple__heading {
  margin: 0;
  margin-bottom: 24px;
  @include textStyle(48px, 56px, #36536b);
}
.simple__text {
  margin: 0;
  @include textStyle(15px, 28px, #36536b);
}
.simple__img {
  width: fit-content;
}